{% extends 'iuvo_app/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% if not user %}
<div style="max-width:600px;margin-left:auto;margin-right:auto;">
    <h1>Register</h1>
    <form action="/accounts/register/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "ok" %} Register
            </button>
        {% endbuttons %}
    </form>
</div>
{% else %}
<h1>You're already logged in!</h1>
<p>How about <a href={% url 'iuvo_app.views.events_list_view' user.pk%}>checking out your events</a>?
{% endif %}
{% endblock %}