{% extends 'base.html' %}
<h2>About</h2>
iuvo (Latin for 'I help!') gives you peace of mind when you're out and about by automatically contacting people you trust if you don't make it home by the time you expect to.
<h3>Suggested Uses</h3>
<strong>Going Hiking? Make people know if you don't make it back.</strong><br />
<strong>Meeting someone from OKCupid? Get a check-in call mid-date if you aren't diggin' it.</strong>
<h3>How It Works</h3>
iuvo keeps you safe and sound in three simple steps:
<ol><li><strong>Register & Add Contacts</strong><br />
After signing up for the service, go to the <strong>Add Contacts</strong> page and enter the names and email addresses of some trusted friends. (Don't worry; we'll never spam them or share their contact info with anyone. Scout's honor!)</li>
<li><strong>Set Up A Reminder</strong><br />
The next time you're going out on a hike or out on a date, set up a reminder.
<strong>If you don't log in and turn off the alert by the specified time, emails will be sent to your contacts to check in with you.</strong>
</li>
<li><strong>Go out and have fun.</strong></li>
<li><strong>Turn off your reminder</strong></li>
</ol>