<!DOCTYPE html>
<html lang="en">

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}
{% bootstrap_css %}


<head>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{% block title %} - don't worry: iuvo!{% endblock %}</title>
</head>
{% block navbar %}
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">iuvō</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/about">about</a></li>
      <li><a href="/register">register</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Control <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/user/">{% bootstrap_icon "user" %} Home</a></li>
          <li><a href="/new/">{% bootstrap_icon "plus" %} New Event</a></li>
          <li><a href="/new/">{% bootstrap_icon "list-alt" %} Events</a></li>
          <li><a href="/new/">{% bootstrap_icon "earphone" %} Contacts</a></li>
          <li class="divider"></li>
          <li><a href="#">{% bootstrap_icon "log-out" %} Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
<footer>
iuvō – made in seattle for <a href="http://codefellows.org">code fellows</a><br />
©2014
</footer>
</body>

</html>
