<!DOCTYPE html>
<html lang="en">

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}
{% bootstrap_css %}


<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %} - don't worry: iuvo!{% endblock %}</title>
</head>
{% block navbar %}
    <div id="navbar">
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">iuvō</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">iuvō</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/about">about</a></li>

  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      {% if user %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Control <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/user/">{% bootstrap_icon "glyphicon-user" %} {{user.name}} Home</a></li>
          <li><a href="/new/">{% bootstrap_icon "glyphicon-plus" %} New Event</a></li>
          <li><a href="/new/">{% bootstrap_icon "glyphicon-list-alt" %} Events</a></li>
          <li><a href="/new/">{% bootstrap_icon "glyphicon-earphone" %} Contacts</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">{% bootstrap_icon "glyphicon-log-out" %}Log Out</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="/login/">Login/Register</a></li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>

{% endblock %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
<footer>
iuvō – made in seattle for <a href="http://codefellows.org">code fellows</a><br />
©2014
</footer>
</body>

</html>
