<!DOCTYPE html>
<html lang="en">

{% load bootstrap3 %}
{% load staticfiles %}


<head>
    <title>{% block title %}don't worry: iuvo!{% endblock %}</title>
    {# Load CSS and JavaScript #}
<script src="{% static 'jquery.min.js' %}" type="text/javascript"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}
</head>
<body>
{% block navbar %}
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">iuvō</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
  {% if not request.user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li><a href="/register">register</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% bootstrap_icon "user" %} User Control <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/login/">{% bootstrap_icon "login" %}  Login</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
  {% else %}
      <ul class="nav navbar-nav">
      <li><a href="/register">register</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% bootstrap_icon "user" %} User Control <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/user/">{% bootstrap_icon "home" %}  Home</a></li>
          <li><a href="/new/">{% bootstrap_icon "plus" %}  New Event</a></li>
          <li><a href="/new/">{% bootstrap_icon "list-alt" %}  Events</a></li>
          <li><a href="/new/">{% bootstrap_icon "earphone" %}  Contacts</a></li>
          <li class="divider"></li>
          <li><a href="#">{% bootstrap_icon "log-out" %} Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
  {% endif %}

{% endblock %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
<footer>
iuvō – made in seattle for <a href="http://codefellows.org">code fellows</a><br />
©2014
</footer>

</body>

</html>
