{% extends 'iuvo_app/base.html' %}
{% load bootstrap3 %}



{% block title %}
Check In - iuvō
{% endblock title %}


{% block content %}
{% if logged_in %}
<h1>Check in</h1>
<h3>There you are! We were worried!</h3>
<p>The following alarm has been disabled!</p>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Notify Date</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr class="danger">
      <td>1</td>
      <td>{{ event.title }}</td>
      <td>{{ event.start_date }}</td>
      <td>{{ event.end_date }}</td>
      <td>{{ event.notify_date }}</td>
      <td>{{ event.location }}</td>
    </tr>
{% else %}
<h1>Well hello there!</h1>
<p>I'm not sure how you got here, but there's not much to see on this page if
 you aren't logged in.
{% endif %}
{% endblock content %}