{% extends 'iuvo_app/base.html' %}
{% load bootstrap3 %}

{% block title %}
Contacts: {{ contact.name }}
{% endblock title %}

{% block content %}
<h2>{{ contact.name }}</h2>

<h3>Email: {{ contact.email }}<br>
Phone: {{ contact.phone_str }}<br /><br />
<a href="{% url 'iuvo_app.views.edit_contact_view' user.pk contact.pk %}"><button type="button" class="btn btn-primary">Edit Contact</button> <a href="{% url 'iuvo_app.views.events_list_view' user.pk %}"><button type="button" class="btn btn-success">Event List</button>
{% endblock content %}