{# <<<<<<< HEAD #}
{% extends 'iuvo_app/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% if logged_in %}
<h1>Create A New Contact</h1>
Please complete the following form to create a new emergency contact.
{{ bootstrap_form: create_contact}}
{% else %}
<h1>Please log in</h1>
<p>If you want to create a contact, you need to be logged in.
{% endif %}
{# Is it possible to do this in the view so it will flask the 'else' condition after auto redirecting to the login page? #}
{% endblock content %}
