{% extends 'iuvo_app/base.html' %}
{% load bootstrap3 %}



{% block title %}
{{ event.title }}
{% endblock title %}


{% block head %}
{{ event.title }}
{% endblock head %}


{% block content %}
<strong>title:</strong> {{ event.title }}<br>
<strong>start:</strong> {{ event.start_date }}<br>
<strong>end:</strong> {{ event.end_date }}<br>
<strong>notify:</strong> {{ event.notify_date }}<br>
<strong>location:</strong> {{ event.location }}<br>
<strong>message:</strong> {{ event.message }}<br>
<strong>status:</strong> {{ event.status }}<br>
<strong>contacts:</strong>
    {% for contact in event.contacts.all %}
    {{ contact.name}}/{{ contact.email }},
    {% endfor %}
{% endblock content %}