{% extends 'iuvo_app/base.html' %}
{% load bootstrap3 %}

{% block title %}
{{title}} - iuvō
{% endblock title %}

{% block content %}
<h1>{{title}}</h1>
{% if ongoing_events %}
  <div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">You need to check in for the following:</h3>
  </div>
  <div class="panel-body">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notification Time</th>
      <th>Place</th>
      <th>Contact</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
  {% for event in ongoing_events %}
    <tr>
      <td><a href="{% url 'iuvo_app.views.view_event_view' user.pk event.pk %}">{{ event.title }}</a></td>
      <td>{{ event.notify_day }} {{ event.notify_time }}</td>
      <td>{{ event.location }}</td>
      <td>{% for contact in event.contacts.all %}
          <a href="{% url 'iuvo_app.views.view_contact_view' user.pk contact.pk %}">{{ contact.name}}</a><br />
          {% endfor %}
      <td><a href="{% url 'iuvo_app.views.check_in_view' user.pk event.pk %}"><button type="button" class="btn btn-success btn-xs">Check In</button></a>
          <a href="{% url 'iuvo_app.views.delete_event_view' user.pk event.pk %}"><button type="button" class="btn btn-danger btn-xs">Delete Event</button></a></td>
</div>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
  </div>
<br />
{% endif %}
{% if upcoming_events %}
  <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">The following events are scheduled:</h3>
  </div>
  <div class="panel-body">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notification Time</th>
      <th>Place</th>
      <th>Contact</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
  {% for event in upcoming_events %}
    <tr>
      <td><a href="{% url 'iuvo_app.views.view_event_view' user.pk event.pk %}">{{ event.title }}</a></td>
      <td>{{ event.notify_day }} {{ event.notify_time }}</td>
      <td>{{ event.location }}</td>
      <td>{% for contact in event.contacts.all %}
          <a href="{% url 'iuvo_app.views.view_contact_view' user.pk contact.pk %}">{{ contact.name}}</a><br />
          {% endfor %}
      <td><a href="{% url 'iuvo_app.views.edit_event_view' user.pk event.pk %}"><button type="button" class="btn btn-success btn-xs">Edit Event</button></a>
          <a href="{% url 'iuvo_app.views.delete_event_view' user.pk event.pk %}"><button type="button" class="btn btn-danger btn-xs">Delete Event</button></a></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
  </div>
<br />
{% endif %}
{% if past_events %}
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">The following events are archived:</h3>
  </div>
  <div class="panel-body">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notification Time</th>
      <th>Place</th>
      <th>Contact</th>
      <th>Controls</th>
    </tr>
  </thead>
  <tbody>
  {% for event in past_events %}
    <tr>
      <td><a href="{% url 'iuvo_app.views.view_event_view' user.pk event.pk %}">{{ event.title }}</a></td>
      <td>{{ event.notify_day }} {{ event.notify_time }}</td>
      <td>{{ event.location }}</td>
      <td>{% for contact in event.contacts.all %}
          <a href="{% url 'iuvo_app.views.view_contact_view' user.pk contact.pk %}">{{ contact.name}}</a><br />
          {% endfor %}
      <td><a href="{% url 'iuvo_app.views.edit_event_view' user.pk event.pk %}"><button type="button" class="btn btn-success btn-xs">Edit Event</button></a>
          <a href="{% url 'iuvo_app.views.delete_event_view' user.pk event.pk %}"><button type="button" class="btn btn-danger btn-xs">Delete Event</button></a></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endif %}
{% endblock content %}