{% extends 'iuvo_app/base.html' %}
{% load bootstrap3 %}



{% block title %}
{{ event.title }} - iuvō
{% endblock title %}



{% block content %}
<h1>{{ event.title }}</h1>
<h4>title:</h4> {{ event.title }}<br>
<h4>start:</h4> {{ event.start_day }} {{event.start_time }}<br>
<h4>end:</h4> {{ event.end_day }} {{event.end_time }}<br>
<h4>notify:</h4> {{ event.notify_day }} {{ event.notify_time }}<br>
<h4>location:</h4> {{ event.location }}<br>
<h4>message:</h4> {{ event.message }}<br>
<h4>contacts:</h4>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
  {% for contact in event.contacts.all %}
    <tr>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  <a href="{% url 'iuvo_app.views.check_in_view' user.pk event.pk %}"><button type="button" class="btn btn-danger">Check in to this event</button></a>
  <br>Note: Checking in will stop alerts from being sent for this event.
{% endblock content %}