{% extends 'iuvo_app/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
 <div class="jumbotron">
    <div class="container">
      <center><h1>Leave The House <br />
      With Peace of Mind</h1></center>
      <p class="lead">A solo hike? A first date? Automatically let your friends know if things take an unexpected turn.</p>
      <a class="btn btn-info btn-lg btn-block" href="accounts/register/">Get Started Now!</a>
    </div>
  </div>
  <div class="container">
  <h2>Put your worries to rest in three steps:</h2>
  <div class="row">
    <div class="col-md-4">
      <p><h3>1. Set Contacts</h3><br />
After signing up for the service, go to the Add Contacts page
 and enter the names and email addresses of some trusted friends. (Don't worry; we'll never spam them or share their contact info with anyone.
 Scout's honor!)</p>
    </div>
    <div class="col-md-4">
      <p><h3>2. Set Up An Alert</h3><br />
Before you leave for that solo trek of the Appalachian trail, just enter when you're leaving, when you're going to come back, and a message. If you get held up and don't turn off the notification before a specific time, your message will automatically be sent to the contacts you selected.</p>
    </div>
    <div class="col-md-4">
      <p><h3>3. Go out and have fun.</h3><br />
 You can go on your hike or your date without any worries.<br />
 Once you're back from your event, turn off your reminder so your friends won't get an email telling them to check in with you…even though you've got lots of great stories to tell!</p>
    </div>
  </div>
</div>

{% endblock content %}